<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vuela V_APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.vuelav_app.actividades.SuccessPaymentActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Reserva"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InformacionVuelo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fragments.NotificationFragmentModel.NotificationSesionIniciada"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SesionIniciada"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fragments.ReserveEmergent.Destino"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragments.ReserveEmergent.Origen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividades.SplaActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>